{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="center">
			<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>{{ctx.Locale.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-flame"}} I2P is an anonymous network layer that allows for censorship-resistant, peer-to-peer communication.
			</h1>
			<p class="large">
                This is the gitea for the Java I2P Project and the Go I2P Project.
                It is also open to contributions from the community.
                User accounts are subject to approval by the admin.
                Third-party users are encourage to use federation to interact when possible.
				<ul>
					<li><a href="http://git.idk.i2p">git.idk.i2p</a> is the in-network registered hostname for this service.</li>
					<li><a href="http://7qeve4v2chmjdqlwpa3vl7aojf3nodbku7vepnjwrsxljzqipz6a.b32.i2p">7qeve4v2chmjdqlwpa3vl7aojf3nodbku7vepnjwrsxljzqipz6a.b32.i2p</a> is git.idk.i2p in base32 form.</li>
					<li><a href="https://57z3ffssd34lztr2dgkddqd36sdn73luzrkgkvuh7wjfxxy7tqea.b32.i2p">57z3ffssd34lztr2dgkddqd36sdn73luzrkgkvuh7wjfxxy7tqea.b32.i2p</a> is the HTTPS version. HTTPS is not required for gitea in I2P, but some browsers prefer it.</li>
					<li><a href="https://lfcsppezwcivls66oq623z2637sdxim43bxujmrr3auw6qbyqdf4u3yd.onion">lfcsppezwcivls66oq623z2637sdxim43bxujmrr3auw6qbyqdf4u3yd.onion</a> is an onion service with HTTPS which is made available for Tor users.</li>
				</ul>
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} I2P is Free Software, and is not affiliated with any government or corporation.
			</h1>
			<p class="large">
                Looking for the application? You can find it on the <a href="https://geti2p.net/en/download">I2P website</a>.
			</p>
			<h2 class="hero ui icon header">
				{{svg "octicon-device-desktop"}} <a href="https://stormycloud.org/donate">Support this service by donating to the StormyCloud non-profit</a>.
			</h2>
			<p class="large">
                StormyCloud is a non-profit organization that provides free and open source software and services to the I2P community.
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
		</div>
		<div class="eight wide center column">
		</div>
	</div>
</div>
{{template "base/footer" .}}